button {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:disabled {
  cursor: not-allowed;
}

button:not(:disabled) {
  cursor: pointer;
}

button:not(:disabled):hover {
  text-decoration: none;
}

button:not(:disabled):focus {
  outline: 0;
}
